{% extends 'layout.html' %}
{% block content %}


{% if prev_track is not none %}
    <button class="btn-general" onclick="location.href='{{prev_track}}'">Previous</button>
{% else %}
    <button class="btn-general-disabled" disabled>Previous</button>
{% endif %}


{% if next_track is not none %}
    <button class="btn-general" onclick="location.href='{{next_track}}'">Next</button>
{% else %}
    <button class="btn-general-disabled" disabled>Next</button>
{% endif %}

{% for track in list_of_tracks %}
    <div class = "tracks" onclick="window.open('{{ track.track_url }}')">
        <img src="https://i.pinimg.com/originals/e5/69/4b/e5694ba734a318dd0f7138228adb3170.jpg" alt="music logo" style="width:100px;height:95px; float: left; margin-right: 15px">
        <h1>{{ track.title }}</h1>
        <p>{{ track.artist.full_name }} ⚬ {{ track.album.title }}</p>
        <p>{{ track.track_duration }} seconds</p>
    </div>
{% endfor %}

{% if prev_track is not none %}
    <button class="btn-general-bottom" onclick="location.href='{{prev_track}}'">Previous</button>
{% else %}
    <button class="btn-general-disabled" disabled>Previous</button>
{% endif %}


{% if next_track is not none %}
    <button class="btn-general-bottom" onclick="location.href='{{next_track}}'">Next</button>
{% else %}
    <button class="btn-general-disabled" disabled>Next</button>
{% endif %}

{% endblock %}